.dialjs {
	position: relative;
	width: 40px;
	height: 40px;
	border: 20px solid whitesmoke;
	border-radius: 2000px;
	background-color: white;
}
.dialjs-inner {
	height: 20px;
	width: 20px;
	background-color: #2196F3;
	border-radius: 100px;
	margin: 25% auto;
	top: 30px;
}